.root {}

.formRowRight {
	border: 0px solid black;
    display: flex;
    height: 40px;
    width: auto;
    text-align: center;
    align-items: center;
    justify-content: end;
  }

.formRowSeparate {
    border: 0px solid black;
    display: flex;
    height: 40px;
    width: auto;
    text-align: center;
    align-items: center;
    justify-content: space-between;
  }
