.root {
}

.FormRow {
    border: 0px solid black;
    display: flex;
    height: 35px;
    width: auto;
    text-align: center;
    align-items: center;
    justify-content: space-between;
}


.Input {
    padding: 0.6em 0.8em;
    margin: 0em;
    width: auto;
    min-width: auto;
    border-radius: 0.2em;

    &:focus {
        border: 1px solid #2a85ff;
        outline: unset;
        box-shadow: 0 0 6px #2a85ff;
    }

    border: 1px solid black;
    text-align: start;
    justify-content: center;
    align-content: space-around;
    overflow: visible;
}