// test-data-table.module.scss

.root {
  width: 1000px; // Set a fixed width for the root container
  height: auto; /* Set the desired height */
  display: flex;
  flex-wrap: wrap;
  gap: 20px; // Adjust the gap between cards

  .card {
    width: calc(33.33% - 20px); // Adjust the card width based on your design
    //width: 250px; /* Set the desired width */
    height: 300px; /* Set the desired height */
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    // Additional styling for your card
  }


  .pagination {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
  }

}

.formRowRight {
	border: 0px solid black;
    display: flex;
    height: 40px;
    width: auto;
    text-align: center;
    align-items: center;
    justify-content: end;
  }

.formRowSeparate {
    border: 0px solid black;
    display: flex;
    height: 40px;
    width: 100%; /* Set width to 100% */
    text-align: center;
    align-items: center;
    justify-content: space-between;

    .searchInput {
        width: 48%; /* Set width for the search input */
        text-align: left; /* Align the text to the left */
    }

    .pageSizeSelect {
        width: 48%; /* Set width for the page size select */
        text-align: right; /* Align the text to the right */
    }
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 16px;
}

.gridItem {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}


.TableArea {

  text-align: center;
  align-items: center;
  border: 0px solid black;
  position: fixed;
  top: 4em;
  width: 800px;

}


.handpoint {
    cursor: pointer;
    background-color: #3498db;

}

.tableheader {
  background-color: #3498db; /* 设置表头背景颜色为蓝色 */
}


th {
    text-align: center; /* 水平居中 */
    vertical-align: middle; /* 垂直居中 */
}


.TableTitleText {
  color: #f7f0f0ef; // 这里使用十六进制颜色码，可以根据需要更改
}
