.App {
    padding: 2rem;
    text-align: start;
    box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.12);
    width: 600px;
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    border: 0px solid black;
    border-radius: 0.8em;
    height: 400px;
}

.logo {
    padding: 1.25em;
    will-change: filter;
    transition: filter 300ms;
}

.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
}

.logo.ts:hover {
    filter: drop-shadow(0 0 2em #3178c6aa);
}

.logo.scss:hover {
    filter: drop-shadow(0 0 2em #cc6698aa);
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
        animation: logo-spin infinite 20s linear;
    }
}

.card {
    padding: 2em;
}

.read-the-docs {
    color: #888;
}