.root {
    display: flex;
    width: auto;
  }
  .Button {
    width: 50px;
    font-size: auto;
    font-weight: 400;
    text-align: center;
    border-radius: 3px;
    background-color: #c53d93;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 0.2em;
    &:hover {
      border: 1px solid #c53d93;
      outline: unset;
      box-shadow: 0 0 6px #ea6fbd;;
      background-color: #ea6fbd;
    }
   
  }
  .Input {
    padding: 0.6em 0.8em;
    margin: 0em;
    width: 250px;
    height: auto;
    min-width: auto;
    border-radius: 0.2em;
    &:focus {
      border: 1px solid #2a85ff;
      outline: unset;
      box-shadow: 0 0 6px #2a85ff;
    }
    border: 1px solid black;
    text-align: start;
    display: flex;
    justify-content: center;
    align-content: space-around;
    overflow: visible;
  }
  